config-gateway/.flows.json.backup
[
    {
        "id": "3111f6f951995991",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "03c437b8de0c6001",
        "type": "mqtt-broker",
        "name": "Broker",
        "broker": "192.168.1.55",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b60ab0d12434d289",
        "type": "ui_group",
        "name": "IoT Dashboard",
        "tab": "280ff12e4e957d89",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "280ff12e4e957d89",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "da5c414c08d8cb8d",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "0f0ec288cace878f",
        "type": "mqtt in",
        "z": "3111f6f951995991",
        "name": "RH01",
        "topic": "uniovi/poc/humidity/RH01",
        "qos": "2",
        "datatype": "auto",
        "broker": "03c437b8de0c6001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "91b6bfcabd1164ab"
            ]
        ]
    },
    {
        "id": "e17ec909ca534bc2",
        "type": "mqtt in",
        "z": "3111f6f951995991",
        "name": "TP01",
        "topic": "uniovi/poc/temperature/TP01",
        "qos": "2",
        "datatype": "auto",
        "broker": "03c437b8de0c6001",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 160,
        "wires": [
            [
                "2f13276c45c710d9"
            ]
        ]
    },
    {
        "id": "f817831dcdf6ce42",
        "type": "http request",
        "z": "3111f6f951995991",
        "name": "Persist",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://backend-iot:3000/api/Measures",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 710,
        "y": 220,
        "wires": [
            [
                "90ace54a22456a48"
            ]
        ]
    },
    {
        "id": "91b6bfcabd1164ab",
        "type": "json",
        "z": "3111f6f951995991",
        "name": "JSON Parser",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "4c81892b436a29d7"
            ]
        ]
    },
    {
        "id": "4c81892b436a29d7",
        "type": "function",
        "z": "3111f6f951995991",
        "name": "Parser",
        "func": "msg.payload.value = parseFloat(msg.payload.value);\nmsg.payload.date = Date.parse(msg.payload.date);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 380,
        "wires": [
            [
                "eb0444a3a75be249",
                "0c7be2a2a1112d1d",
                "fb9fd284dceed5bb"
            ]
        ]
    },
    {
        "id": "2f13276c45c710d9",
        "type": "json",
        "z": "3111f6f951995991",
        "name": "JSON Parser",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "04209cbb69651c4f"
            ]
        ]
    },
    {
        "id": "04209cbb69651c4f",
        "type": "function",
        "z": "3111f6f951995991",
        "name": "Parser",
        "func": "msg.payload.value = parseFloat(msg.payload.value);\nmsg.payload.date = Date.parse(msg.payload.date);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 160,
        "wires": [
            [
                "7127d0d089512b4c",
                "bc5640886ea4c05c",
                "f817831dcdf6ce42"
            ]
        ]
    },
    {
        "id": "fb9fd284dceed5bb",
        "type": "http request",
        "z": "3111f6f951995991",
        "name": "Persist",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://backend-iot:3000/api/Measures",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 710,
        "y": 440,
        "wires": [
            [
                "060fa5f23220e3b8"
            ]
        ]
    },
    {
        "id": "7127d0d089512b4c",
        "type": "ui_gauge",
        "z": "3111f6f951995991",
        "name": "TP01",
        "group": "b60ab0d12434d289",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature [C ยบ]",
        "label": "C ยบ",
        "format": "{{payload.value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 160,
        "wires": []
    },
    {
        "id": "eb0444a3a75be249",
        "type": "ui_gauge",
        "z": "3111f6f951995991",
        "name": "RH01",
        "group": "b60ab0d12434d289",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Humidity [%]",
        "label": "%",
        "format": "{{payload.value}}",
        "min": 0,
        "max": "150",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 930,
        "y": 380,
        "wires": []
    },
    {
        "id": "6bda5b71188a6a21",
        "type": "ui_chart",
        "z": "3111f6f951995991",
        "name": "TP01",
        "group": "b60ab0d12434d289",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "TP01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "bc5640886ea4c05c",
        "type": "function",
        "z": "3111f6f951995991",
        "name": "Adapter",
        "func": "msg.payload = parseFloat(msg.payload.value);\nmsg.topic = Date.parse(msg.payload.date);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 100,
        "wires": [
            [
                "6bda5b71188a6a21"
            ]
        ]
    },
    {
        "id": "0c7be2a2a1112d1d",
        "type": "function",
        "z": "3111f6f951995991",
        "name": "Adapter",
        "func": "msg.payload = parseFloat(msg.payload.value);\nmsg.topic = Date.parse(msg.payload.date);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 320,
        "wires": [
            [
                "93d413d95376f2bf"
            ]
        ]
    },
    {
        "id": "93d413d95376f2bf",
        "type": "ui_chart",
        "z": "3111f6f951995991",
        "name": "RH01",
        "group": "b60ab0d12434d289",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "RH01",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "150",
        "removeOlder": 1,
        "removeOlderPoints": "10",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 930,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "90ace54a22456a48",
        "type": "debug",
        "z": "3111f6f951995991",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 220,
        "wires": []
    },
    {
        "id": "060fa5f23220e3b8",
        "type": "debug",
        "z": "3111f6f951995991",
        "name": "Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 440,
        "wires": []
    }
]