config-gateway/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "IoT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "45af8ced2735ea49",
        "type": "mqtt-broker",
        "name": "iot-gateway",
        "broker": "iot-broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3e781a4b2c825fa8",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "T01",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "45af8ced2735ea49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 200,
        "wires": [
            [
                "3bb68ab5fc3adea2"
            ]
        ]
    },
    {
        "id": "16292710def5a487",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "3bb68ab5fc3adea2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "Payload",
        "func": "\nconst measure = {\n    device: \"SEN01\",\n    sensor: \"T01\",\n    value: msg.payload,\n    datetime: new Date().toISOString()\n};\n\nmsg.payload = measure;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "16292710def5a487",
                "23043ad8fa37ff5d"
            ]
        ]
    },
    {
        "id": "23043ad8fa37ff5d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Persist Backend",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://iot-backend:3000/measures",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 640,
        "y": 200,
        "wires": [
            [
                "437db008ed3a6a17"
            ]
        ]
    },
    {
        "id": "437db008ed3a6a17",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 200,
        "wires": []
    }
]