config-gateway/flows.json
[
    {
        "id": "3e781a4b2c825fa8",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "MTTQ Client",
        "topic": "devices/SEN01/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "45af8ced2735ea49",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "3bb68ab5fc3adea2"
            ]
        ]
    },
    {
        "id": "3bb68ab5fc3adea2",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "JSON Parser",
        "func": "\nconst measure = {\n    device: \"SEN01\",\n    sensor: \"ACC01\",\n    value: JSON.parse(msg.payload),\n    datetime: new Date().toISOString()\n};\n\nmsg.payload = measure;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "23043ad8fa37ff5d",
                "167b6be1fde9411a"
            ]
        ]
    },
    {
        "id": "23043ad8fa37ff5d",
        "type": "http request",
        "z": "f6f2187d.f17ca8",
        "name": "Persist Backend",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://iot-backend:3000/measures",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 640,
        "y": 200,
        "wires": [
            [
                "437db008ed3a6a17"
            ]
        ]
    },
    {
        "id": "437db008ed3a6a17",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 200,
        "wires": []
    },
    {
        "id": "167b6be1fde9411a",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 120,
        "wires": []
    },
    {
        "id": "45af8ced2735ea49",
        "type": "mqtt-broker",
        "name": "iot-gateway",
        "broker": "iot-broker",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]